

/* ==========================================================================
   Custom styles
   ========================================================================== */
@font-face {
    font-family: 'Univers LT Std Light';
    src: url('../font/UniversLTStd-Light.otf');
    src: url('../font/UniversLTStd-Light.eot');
    src: url('../font/UniversLTStd-Light.ttf');
    src: url('../font/UniversLTStd-Light.svg');
 
}

/**
  Cores
  Azul escuro #0071BB
  Azul intermdiário #0071BB
*/

h1, h2, h3, h4, p, li { font-family: 'Univers LT Std Light','Open Sans', sans-serif; }
h1, h2, h3, h4 {color: #14085E;
    margin: 20px 0px;
}
a {color: #0071BB;}
p {color: #3f3d3f;
    font-size: 15px;
    text-align: justify}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../img/snow.png);
    background-size: auto;
    background-repeat: repeat;
}
.container {
	width: 960px;
}
.logo {
    max-width: 280px;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-inner{
	background-color: #140843;
    border: none;
    min-height: 35px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #2F306F;
}


.navbar .nav > li > a {
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #ffffff;
    text-shadow: none;
}
.nav-shadow {
    width: 100%;
    height: 27px;
    background-color: transparent;
    background-image: url("../img/nav-shadow.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 100% 100%;
}
.carousel-inner{
    margin-bottom: 20px;
    border: 1px solid #D6D6D6;
    width: 99.8%;
}
.carousel-inner img{
    max-height: 250px;
    width: 100%;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.75);
    padding: 10px 15px;
}
.carousel-caption p {
    font-size: 15px;
    letter-spacing: 0.15em;
}
.breadcrumb {
    padding: 10px 0px 0px 0px;
    margin: 0px;
    list-style: none;
    background: none;
    /*background-color: #F2F2F2;*/
    /*border-top: 1px solid #D6D6D6;*/
}

.breadcrumb li > a, .nav-tabs a {
    color: #2F306F;
}

.tabbable {
    margin-top: 20px;
}
.nav-tabs > li > a {
    font-size: 15px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    background-color: rgba(104, 102, 255, 0.1);
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: rgba(104, 102, 255, 0.2);
}

#content{
    padding: 5px 15px;
    background-image: url(../img/agsquare.png);
    background-size: auto;
    background-repeat: repeat;
    /*background-color: #ffffff;*/
    border: 1px solid #D6D6D6;
}

.services li {
    font-size: 15px;
}

#footer {
    background: -moz-linear-gradient(top, rgba(104,102,255,0.1) 0%, rgba(104,102,255,0.03) 72%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,102,255,0.1)), color-stop(72%,rgba(104,102,255,0.03)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(104,102,255,0.1) 0%,rgba(104,102,255,0.03) 72%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(104,102,255,0.1) 0%,rgba(104,102,255,0.03) 72%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(104,102,255,0.1) 0%,rgba(104,102,255,0.03) 72%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(104,102,255,0.1) 0%,rgba(104,102,255,0.03) 72%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6866ff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    border: 1px solid #D6D6D6;
    margin-top: 30px;
    padding: 15px;
}

.sitemap li > a {
    color: #2F306F;
}

.sitemap h4, .login h4{
    border-bottom: 1px solid #D6D6D6;
}

.copyright{
    margin-top: 20px;
}
.copyright p {
    font-size: 12px;
}

.login ul {
    list-style: none;
    margin: 0px;
}

.login-submit{
    font-size: 15px;
}

.login-error {
    padding: 5px 24px 2px 5px;
}
.login-error span{
    font-size: 13px;
}

::-webkit-input-placeholder {
    font-family: 'Univers LT Std Light','Open Sans', sans-serif;
    color: #2F306F;
    font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'Univers LT Std Light','Open Sans', sans-serif;
    color: #2F306F;
    font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Univers LT Std Light','Open Sans', sans-serif;
    color: #2F306F;
    font-size: 15px;
}

:-ms-input-placeholder {
    font-family: 'Univers LT Std Light','Open Sans', sans-serif;
    color: #2F306F;
    font-size: 15px;
}

.alert, .alert h4 {
    font-family: 'Univers LT Std Light','Open Sans', sans-serif;
    font-size: 15px;
}


/**
Contato
**/

.submit {
    margin: 20px 0px;
}

.submit input{
    font-size: 15px;
}

.btn-primary{
    background-color: rgba(104, 102, 255, 0.1);
    border-color: #D6D6D6;
    text-shadow: none;
    color: #2F306F;
}
.btn-primary:hover{
    background-color: rgba(104, 102, 255, 0.2);
    border-color: #D6D6D6;
    text-shadow: none;
    color: #2F306F;
}

.checkbox p{
    text-align: left;
}

#mapa {
    border: 1px solid #D6D6D6;
    width:99%;
    height:300px ;
}


.form-horizontal .control-label {
    width: 56px;
}
.form-horizontal .control-label, .form-horizontal .help-inline {
    color: #3F3D3F;
    font-family: 'Univers LT Std Light','Open Sans', sans-serif;
    font-size: 15px;
}
.form-horizontal .controls {
    margin-left: 70px;
}









